@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url("/fonts/GraphikMedium.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/GraphikMediumItalic.otf") format("opentype");
}

.LogoLoader {
  animation: spin-half 1.5s linear infinite;
}

@keyframes spin-half {
  from {
    transform: scale(0.5) rotate(0deg);
  }

  to {
    transform: scale(0.5) rotate(360deg);
  }
}
