@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url("/fonts/GraphikRegular.woff2") format("woff2");
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url("/fonts/GraphikMedium.woff2") format("woff2");
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/GraphikMediumItalic.woff2") format("woff2");
}

/* .Service:is(:hover, :focus)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
} */

.LogoLoader {
  animation: spin-half 1.5s linear infinite;
}

@keyframes spin-half {
  from {
    transform: scale(0.5) rotate(0deg);
  }

  to {
    transform: scale(0.5) rotate(360deg);
  }
}
